<p-card [style]="{width: '360px'}" styleclass="ui-card-shadow">
    <div>{{ employee.firstname}}  {{ employee.lastname}}</div>
    <div>Age: {{employee.age}}</div>
    <div>{{ employee.designation }}</div>
    <p-footer>
        <button pButton type="button" label="Edit" icon="pi pi-check" style="margin-right: .25em" (click)="editEmployee()"></button>
        <button pButton type="button" label="Delete" icon="pi pi-times" class="ui-bottom-secondary" style="margin-right: .25em" (click)="deleteEmployee()"></button>
    </p-footer>
</p-card>
